[Unit]
Description=SSH key agent socket
Documentation=man:ssh-agent(1)

[Socket]
ListenStream=%t/ssh-agent.socket
SocketMode=0600
ExecStartPost=/usr/bin/systemctl --user set-environment SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStopPre=/usr/bin/systemctl --user unset-environment SSH_AUTH_SOCK

[Install]
WantedBy=sockets.target
