[Unit]
Description=SSH key agent
Documentation=man:ssh-agent(1)

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStartPre=-/usr/bin/rm -f %t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a %t/ssh-agent.socket
ExecStartPost=/usr/bin/systemctl --user set-environment SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStopPost=-/usr/bin/systemctl --user unset-environment SSH_AUTH_SOCK
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
