{{- $osId := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osId = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $osIdLike := $osId -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osIdLike = printf "%s-%s" .chezmoi.os (splitList " " .chezmoi.osRelease.idLike | first) -}}
{{- end -}}
{{- $osFamily := .chezmoi.os -}}
{{- $pkgManager := "brew-only" -}}
{{- if eq $osFamily "linux" -}}
{{-   $osInfo := printf "%s %s" (get .chezmoi.osRelease "id" | default "") (get .chezmoi.osRelease "idLike" | default "") -}}
{{-   if or (contains "debian" $osInfo) (contains "ubuntu" $osInfo) -}}
{{-     $pkgManager = "apt" -}}
{{-   else if or (contains "rhel" $osInfo) (contains "fedora" $osInfo) -}}
{{-     $pkgManager = "dnf" -}}
{{-   end -}}
{{- end -}}
{{- $wsl := and (eq $osFamily "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $hasGui := promptBoolOnce . "hasGui" "Does this machine have GUI" -}}
{{- $name := promptStringOnce . "name" "Full name" "Eugene Lazutkin" -}}
{{- $email := promptStringOnce . "email" "Email address" "eugene.lazutkin@gmail.com" -}}
{{- $githubUsernameDefault := "uhop" -}}
{{- if env "GITHUB_USERNAME" -}}
{{-   $githubUsernameDefault = env "GITHUB_USERNAME" -}}
{{- end -}}
{{- $githubUsername := promptStringOnce . "githubUsername" "GitHub username" $githubUsernameDefault -}}

[data]
osId = {{ $osId | quote }}
osIdLike = {{ $osIdLike | quote }}
osFamily = {{ $osFamily | quote }}
pkgManager = {{ $pkgManager | quote }}
wsl = {{ $wsl }}
codespaces = {{ $codespaces }}
hasGui = {{ $hasGui }}
name = {{ $name | quote }}
email = {{ $email | quote }}
githubUsername = {{ $githubUsername | quote }}

[diff]
pager = "diff-so-fancy"

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]

[scriptEnv]
GITHUB_USERNAME = {{ $githubUsername | quote }}
