{{- $osId := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osId = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $osIdLike := $osId -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osIdLike = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}
{{- $wsl := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $hasGui := promptBoolOnce . "hasGui" "Does this machine have GUI" -}}

[data]
osId = {{ $osId | quote }}
osIdLike = {{ $osIdLike | quote }}
wsl = {{ $wsl }}
codespaces = {{ $codespaces }}
hasGui = {{ $hasGui }}

[diff]
pager = "diff-so-fancy"

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]

[scriptEnv]
GITHUB_USERNAME = "uhop"
