{{- if eq .osIdLike "linux-debian" -}}
#!/bin/sh
echo "Installing software with apt and snap: expect asking for a password."
sudo apt install -y build-essential bash-completion micro wget age meld tealdeer \
  exa bat ncdu jq tmux silversearcher-ag tig httpie prettyping htop parallel fzf \
  brotli gh hub mc neofetch ripgrep alacritty duf hyperfine zoxide nginx awscli \
  golang rustc python3 net-tools flatpak gnome-software-plugin-flatpak
# sudo snap install bottom
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
brew "aws-iam-authenticator"
brew "awscli"
brew "bash-git-prompt"
brew "bottom"
brew "broot"
brew "cheat"
brew "deno"
brew "diff-so-fancy"
brew "dog"
brew "dust"
brew "fd"
brew "gping"
brew "helix"
brew "helm"
brew "kubernetes-cli"
brew "nvm"
brew "pyenv"
brew "whalebrew"
brew "xh"
EOF
brew completions link
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
. "$(brew --prefix nvm)/nvm.sh"
nvm install stable
{{- else if eq .osIdLike "darwin" -}}
#!/bin/sh
if [ -f /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [ -f /usr/local/bin/brew ]; then
  eval "$(/usr/local/bin/brew shellenv)"
fi
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
brew "aws-iam-authenticator"
brew "awscli"
brew "bash-completion"
brew "bash-git-prompt"
brew "bat"
brew "bottom"
brew "broot"
brew "brotli"
brew "cheat"
brew "deno"
brew "diff-so-fancy"
brew "dog"
brew "duf"
brew "dust"
brew "exa"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-gui"
brew "go"
brew "gping"
brew "helix"
brew "helm"
brew "htop"
brew "httpie"
brew "hub"
brew "hyperfine"
brew "jq"
brew "kubernetes-cli"
brew "micro"
brew "midnight-commander"
brew "ncdu"
brew "nginx"
brew "neofetch"
brew "nvm"
brew "parallel"
brew "prettyping"
brew "pyenv"
brew "python@3"
brew "ripgrep"
brew "rust"
brew "tealdeer"
brew "the_silver_searcher"
brew "tig"
brew "tmux"
brew "wget"
brew "whalebrew"
brew "xh"
brew "zoxide"
cask "alacritty"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "meld"
EOF
. "$(brew --prefix nvm)/nvm.sh"
nvm install stable
{{- end -}}
